@charset "UTF-8"; 
body{
    background-color:#f5f5dc;
    background-image:url(../gatag-00005117.jpg);
background-repeat:　repeat-x;
}
h1{
    font-size: 1.75em;
    color:#555555;
}
h2{
    font-size: 1.25em;
    font-weight:bold;
    color:#555555;
    border:#e9967a 1px dotted;
    border-left:#E0DD61 10px solid;
    margin-bottom:0;
    padding:5px 20px;
}
p{
    font-size: 0.8em;
    color:#555555;
    background-color:#eee8aa;
    font-weight:900;
}

#read{
　　border-top:#e9967a 1px dotted;
    text-align: center;
}
#read:first-letter{
　　font-size:1.25em;
}
.greeting{
    border-top: #e9967a 1px dotted;
    text-align: center;
}

li{
    font-size: 0.8em;
    color:#9acd32;
}

